

.album_container {
  display: flex;
  justify-content: space-between;
}

.album_column {
  flex: 1;
  margin: 0 10px;
}

//.album_title {
//  top: 0;
//  left: 0;
//  background-color: rgba(0, 0, 0, 0.5);
//  color: white;
//  padding: 10px;
//  width: 100%;
//  text-align: center;
//  z-index: 10;
//}

.photos {
  margin-top: 10px;
}

.photo_item {
  display: flex;
  margin-bottom: 10px;
  position: relative;
  align-items: center;

}

.photo_item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.title_item{
  position: absolute;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  background-color: white;
  border: gray 1px solid;
  border-radius: 5px;
  color: gray;
}


